.cart {
  position: relative;

  span {
    position: absolute;
    top: -15px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: $green-primary;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
  }
}
