.contacts {
  padding: 30px 0;

  & > div > div {
    align-items: center;
  }

  h2 {
    color: transparent;
    font-size: 0;
    line-height: 0;
  }

  p {
    max-width: 240px;
    color: $gray;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
  }

  p.contacts__text {
    padding-right: 15px;
    padding-left: 15px;
  }

  form {
    display: flex;
    align-items: center;

    @media only screen and (min-width: 320px) and (max-width: 767px) {
      padding-top: 15px;
    }

    @media only screen and (max-width: 575px) {
      flex-direction: column;

      & > div {
        padding-bottom: 15px;
      }
    }

    input {
      margin-right: 15px;
    }

    button {
      padding: 15px 30px;
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      width: auto;
      height: auto;

      &:hover {
        color: $green-primary;
      }
    }
  }
}
