.feedback {
  padding: 60px 0 55px 0;

  > div:last-child {
    margin: 30px 0 0 0;
  }

  h2 {
    text-align: left;
    margin-bottom: 30px;
  }

  ol, p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #37454A;
  }

  ol {
    margin-bottom: 40px;
    padding: 0 0 0 15px;
  }

  &__text-wrap {
    padding: 30px 50px 30px 30px;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    border: 1px solid #DFDFDF;
    background-color: $gray-bg;

    @media only screen and (max-width: 767px) {
      padding: 15px;
      border-radius: 20px 20px 0 0;
    }
  }

  &__image-wrap {
    background-image: url("../img/doc2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    border: 1px solid #DFDFDF;
    background-color: $gray-bg;
    height: 100%;

    @media only screen and (max-width: 767px) {
      height: 400px;
      border-radius: 0 0 20px 20px;
    }
  }

  &__column-wrap:first-child {
    padding-right: 0;

    @media only screen and (max-width: 767px) {
      padding-right: 15px;
    }
  }

  &__column-wrap:last-child {
    padding-left: 0;

    @media only screen and (max-width: 767px) {
      padding-left: 15px;
    }
  }
}
