.footer {
  nav {
    background-color: $gray-bg;
    padding: 0 0 40px 0;

    p {
      border-top: 1px solid #DFDFDF;
      padding-top: 20px;
      margin-right: 30px;
      color: rgba(55, 69, 74, 0.60);
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}
