.menu {
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 24px;
  margin-bottom: 0;
  color: #fff;
  display: flex;
  position: relative;
  z-index: 2;

  &--closed {
    display: none;
  }

  li {
    @include list-style-reset();
    padding: 0 28px;
    margin: 24px 0 0 0;
    border-right: 1px solid rgba(55, 69, 74, 0.2);
    cursor: pointer;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      &:nth-child(4) {
        border-right: none;
      }
    }

    @media only screen and (max-width: 767px) {
      width: 100%;

      &:first-child {
        padding-left: 28px;
      }
    }

    @media only screen and (max-width: 767px) {
      border-right: none;
    }

    a {
      color: #FFF;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}
