.modal {
  h2 {
    margin-bottom: 60px;
    text-align: center;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;

    @media only screen and (max-width: 575px) {
      flex-direction: column;
      align-items: center;

      & > div:first-child {
        margin-bottom: 10px;
      }
    }

    .input {
      width: calc(50% - 10px);

      @media only screen and (max-width: 575px) {
        width: auto;
      }
    }
  }

  button {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0 auto;

    @media only screen and (max-width: 575px) {
      height: 72px;
    }

    @media only screen and (max-width: 370px) {
      width: 229px;
    }

    &:hover {
      text-decoration: none;
      color: $green-primary;
    }
  }

  &--call-me {
    h2 {
      color: transparent;
      font-size: 0;
      line-height: 0;
      margin: 0;
    }

    .modal__input-wrap {
      justify-content: center;

      .input {
        width: auto;
      }
    }
  }
}
