.upper-contacts {
  display: flex;
  align-items: baseline;
  width: 100%;

  &__logo {
    display: inline-block;
  }

  &__position {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1199px) {
      strong {
        display: none;
      }
    }
  }

  &__position-link {
    display: none;

    @media only screen and (max-width: 1199px) {
      display: flex;
      color: transparent;
      font-size: 0;
      line-height: 0;

      svg {
        width: 50px;
        height: 50px;
      }
    }
  }

  strong.upper-contacts____salon {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 6px;
  }

  svg {
    margin-right: 10px;
    align-self: center;
  }

  &__phonecall {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 0;

    svg {
      display: none;
    }

    @media only screen and (max-width: 991px) {
      padding-bottom: 20px;
      padding-right: 15px;
    }

    a:first-child {
      color: $gray;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      text-decoration: none;

      @media only screen and (max-width: 1199px) {
        display: none;
      }
    }

    a:last-child {
      @media only screen and (max-width: 1199px) {
        color: transparent;
        font-size: 0;
        line-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green-primary;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        border: 2px solid $green-primary;
        cursor: pointer;

        svg {
          display: block;
          margin: 0;
          width: 40px;
        }

        &:hover {
          background-color: #FFF;

          svg path {
            fill: $green-primary;
          }
        }
      }
    }

    a {
      color: $green-primary;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  div.upper-contacts__button {
    padding: 12px 40px;
    display: flex;
    align-items: center;

    &:hover a {
      color: $green-primary;
    }

    @media only screen and (min-width: 230px) and (max-width: 991px) {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 228px;
    }

    a {
      display: inline-block;
      padding: 0;
      width: 102px;
      color: $gray;
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
      text-transform: none;
      text-align: left;
    }

    p {
      padding-right: 10px;
      color: $green-primary;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;

      span {
        display: block;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
