.upper-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__position {
    display: flex;
    flex-direction: column;
  }

  strong.upper-contacts____salon {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 6px;
  }

  p.upper-contacts__city-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: $green-primary;
    padding-right: 13px;
  }

  p.upper-contacts__counter {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $gray;
    opacity: 0.6;
    padding-left: 13px;
    border-left: 1px solid #DFDFDF;
  }

  &__city {
    display: flex;

    & > div {
      display: flex;
    }
  }

  svg {
    margin-right: 10px;
    align-self: center;
  }

  &__phonecall {
    display: flex;
    flex-direction: column;

    strong {
      color: $gray;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
    }

    a {
      color: $green-primary;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      text-decoration: underline;
      text-decoration-style: dashed;
    }
  }

  div.upper-contacts__button {
    padding: 12px 40px;
    display: flex;
    align-items: center;

    a {
      display: inline-block;
      width: 102px;
      color: $gray;
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
      text-transform: none;
      text-align: left;
    }

    p {
      padding-right: 10px;
      color: $green-primary;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;

      span {
        display: block;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}
