.wishlist {
  position: relative;
  width: 38px;
  margin-right: 20px;

  @media only screen and (min-width: 230px) and (max-width: 575px) {
    margin-right: 10px;
  }

  span {
    position: absolute;
    top: -15px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: $green-primary;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
  }
}
